@import "colors";

.LandingPage {
  height: 100%;
  width: 100%;
  position: absolute;
}

.TopBanner {
  position: relative;
  width: 100%;
  height: 10%;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0rem;
  background-color: whitesmoke;
}

h1.Logo {
  padding-right: 8px;
  font-size: 3rem;
  color: $blue;
  font-family: 'Pacifico', cursive;
  text-transform: none;
  text-align: left;
  text-indent: 50px;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 1px gray;
}

.container {
  display: table;
  width: 100%;
}

.LeftText {
  text-align: left;
  margin-top: 20%;
  padding-left: 20%;
  width: 75%;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  word-spacing: 4px;
  word-wrap:break-word;
}

.LeftTextSmall {
  text-align: left;
  margin-top: 5%;
  padding-left: 20%;
  width: 55%;
  font-size: 1rem;
  letter-spacing: 1px;
  color: $white;
  word-wrap:break-word;
}

.LeftColumn {
  position: absolute;
  height: 90%;
  left: 0px;
  width: 50%;
}

.RightColumn {
  position: absolute;
  height: 90%;
  right: 0px;
  width: 50%;
}

.Whitebox {
  width:600px;
  height:300px;
  position: relative;
  background:whitesmoke;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  box-shadow: 2px 1px black;
}

.ButtonSelect {
  color: black;
  text-align: left;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}