.LandingPage {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(166, 199, 230, 1);
  background: -moz-linear-gradient(left, rgba(166, 199, 230, 1) 0%, rgba(210, 229, 247, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166, 199, 230, 1)), color-stop(100%, rgba(210, 229, 247, 1)));
  background: -webkit-linear-gradient(left, rgba(166, 199, 230, 1) 0%, rgba(210, 229, 247, 1) 100%);
  background: -o-linear-gradient(left, rgba(166, 199, 230, 1) 0%, rgba(210, 229, 247, 1) 100%);
  background: -ms-linear-gradient(left, rgba(166, 199, 230, 1) 0%, rgba(210, 229, 247, 1) 100%);
  background: linear-gradient(to right, rgba(166, 199, 230, 1) 0%, rgba(210, 229, 247, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6c7e6', endColorstr='#d2e5f7', GradientType=1);
}